.saly {
  background-image: url(https://generation-sessions.s3.amazonaws.com/2d3d941c1e56811ac6bb4585da123895/img/saly-14-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 556px;
  width: 313px;
}
